/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 1rem;
  line-height: 1.5rem;
}

.container {
  padding: 11vh 12vh;
  width: 100%;
}
.align-center {
  align-items: center;
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  max-width: 33.33%;
  padding: 0 4px;
}
.mt-1 {
  margin-top: 1em;
}
/* colors */
.nave_blue {
  background-color: #2c3e50;
}
.color-black {
  color: black;
}
.color-white {
  color: white;
}
.color-green {
  background-color: #1abc9c;
}
/* Navbar */
.nav-bar {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 7rem;
  padding-right: 7rem;
}
.nav-bar h1 {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
}
.links {
  list-style: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}

.links > li {
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  color: #fff;
  overflow: hidden;
}
.links > li:last-child {
  margin-right: 0px;
}
.hidden {
  visibility: hidden;
}

/* Burger Nav */
.btn-container {
  height: 100%;
  width: 50px;
  cursor: pointer;
  flex-direction: column;
  display: none;
}

#toggle {
  display: none;
}

.nav-btn {
  display: block;
  background-color: #1abc9c;
  border: 1px solid #fff;
  position: absolute;
  text-align: center;
  height: fit-content;
  padding: 5px 0;
  width: 60px;
  border-radius: 15px;
}

.hero-content {
  padding: 15vh 0 37.5vh 0;
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #1abc9c;
}

.sample {
  text-transform: uppercase;
  font: 2.5rem "MutatorSans", sans-serif;
  font-weight: 700;
  font-size: 62px;
}

.hero-content p {
  font-size: 18px;
}
h1 {
  text-transform: uppercase;
  font: 2.5rem "MutatorSans", sans-serif;
  font-weight: 1000;
  font-size: 42px;
}

h2 {
  text-transform: uppercase;
  font: 2.5rem "MutatorSans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
/* Portfolio */
.portfolio h1 {
  color: #2c3e50;
}
.portfolio-box img {
  border-radius: 15px;
}
.portfolio-box {
  margin-right: 5%;
  margin-bottom: 15%;
}

/* About */
.about h1 {
  text-transform: uppercase;
  font: 2.5rem "MutatorSans", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: #fff;
}
.pt-1 {
  padding-top: 1em;
}
.pb-1 {
  padding-bottom: 1em;
}
.about-box {
  margin-right: 5%;
  margin-bottom: 10%;
}
.about-box p {
  color: #fff;
  font-size: 23px;
  font-weight: normal;
}
.about {
  justify-content: center;
}
.mb-1 {
  margin-bottom: 1em;
}

/* CSS */

.btn:hover {
  color: #000;
  background-color: #fff;
  transform: translateY(-2px);
}

.btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
}
/* Contact */
.contact h1 {
  color: #2c3e50;
}

.form-input {
  padding: 13px 0px 10px 10px;
  width: 70%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #4f5861;
  transition: box-shadow 150ms ease-out;
  margin-bottom: 4%;
}

.form-input:focus {
    box-shadow: 0 2px 0 0 #1abc9c;
}
/* Footer Section */
.footer-box {
  margin-right: 5%;
  margin-bottom: 15%;
  text-align: center;
}
.footer-box p {
  font-size: 18px;
  font-weight: lighter;
  color: #fff;
}
.footer {
  justify-content: center;
}
.column-1 {
  width: 33.33%;
}
.footer a {
  color: #1abc9c;
}

.last-footer {
  background-color: #1a252f;
}

/* Media Query */
@media (max-width: 1200px) {
  .column {
    flex: 40%;
    max-width: 50%;
    max-height: fit-content;
  }
  .column-1 {
    flex: 40%;
    max-width: 50%;
    max-height: fit-content;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .nav-bar {
    background-color: #2c3e50;
    padding: 20px 10px;
  }
  .btn-container {
    display: flex;
  }
  .links {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    flex-direction: column;
  }
  #toggle ~ .links li {
    padding: 0;
    border: 0;
    margin: 0;
    height: 0;
  }
  .links > li {
    display: flex;
    justify-content: left;
    width: 100%;
    color: #fff;
    background-color: #2c3e50;
  }
  #toggle:checked ~ .links li {
    height: 3.7em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    padding-top: 0.4em;
  }
  .nav-bar h1 {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
  }
}
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    max-height: fit-content;
  }

  .column-1 {
    flex: 100%;
    max-width: 100%;
    max-height: fit-content;
  }
}
